body {
    font-family: 'Lato', sans-serif;
}
/* Estilos do cabeçalho */
header {
    background-color: #004AF7; /* Cor do cabeçalho */
    color: #fff;
}

h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover,
nav a.active {
    color: #002984; /* Cor para hover e página ativa */
}

/* Estilos do rodapé */
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}

/* Estilos para a logo */
.logo {
    height: 80px; /* Ajuste a altura conforme necessário */
}

/* Estilos para os contêineres de formulário */
.border {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

/* Estilos para o feedback de email inválido */
.invalid-feedback {
    display: block;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.is-invalid {
    border-color: #dc3545;
}



