body {
    font-family: 'Lato', sans-serif;
}

/* Estilos do cabeçalho */
header {
    background-color: #004AF7; /* Cor do cabeçalho */
    color: #fff;
}

h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover,
.nav-link.active {
    color: #002984; /* Azul mais escuro para hover e link ativo */
}

/* Estilos do rodapé */
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}

/* Estilos para a logo */
.logo {
    height: 80px; /* Ajuste a altura conforme necessário */
}

/* Estilos para os contêineres de texto */
.bg-light {
    background-color: #f9f9f9 !important;
}

/* Estilos para a imagem */
.img-container img {
    border-radius: 10px; /* Arredondar cantos da imagem */
}




